body {
    background-color: #ff00bf;
}
.main-div {
    background-color: black;
    color: pink;
    height: 400px;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    border: 5px solid white;
    border-radius:30px;
    text-align:center;
}

.form{
    margin-top:70px;
}

.heading{
    display: flex;
    justify-content:center;
    margin-top:100px;
}

.google{
    margin-top:10px;
}
a{
    color:pink;
}
a:hover{
    color:white;
}