body {
    background-color: #ff00bf;
}
.main-div {
    background-color: black;
    color: pink;
    height: 400px;
    width: 300px;
    margin: 0 auto;
    margin-top: 200px;
    border: 5px solid white;
    border-radius:20px;
    text-align:center;
}

.login{
    padding-top:50px;
    font-size:15spx;
    color:white;
    
}

.form{
    margin:10px;
}